@mixin wcl-reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin wcl-reset-link {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

@mixin wcl-reset-input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  line-height: normal;
  appearance: none;
  box-shadow: none;
}

@mixin wcl-reset-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
  }
}